nav{
background-color: #97cbff;    
 position: sticky;
 border-radius: 5px;
animation: zoom1 1.2s ease-out forwards;
 outline: 1px solid white;
 height: 30px; 
}

.navigate-norm{
  -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 20px;
  top: 0;
  z-index: 1000;
  font-weight: 500;
  margin: 100px;
  background-clip: padding-box;
  transition:0.3s ease-in;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.navigate-norm:hover{
  text-decoration: underline;
  font-weight: 800;
  transition: ease-out;
    -webkit-text-fill-color: rgb(37, 79, 156);

}

.map{
    background-color: red;
}