.navigeion{
background-color: #97cbff;    
 position: sticky;
 border-radius: 5px;
 outline: 1px solid white;
 height: 30px; 
}

.navigeion{
  -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 20px;
  top: 0;
  z-index: 1000;
  font-weight: 500;
  margin: 100px;
  background-clip: padding-box;
  transition:0.3s ease-in;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.navigeion:hover{
  text-decoration: underline;
  font-weight: 800;
  transition: ease-out;
    -webkit-text-fill-color: rgb(37, 79, 156);

}
.index-main-box{
  width: 660px;
  height: 500px;
  background-color: rgba(163, 200, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(2px);
  display: absolute;
  position: absolute;
  border-radius: 7px;
  justify-content: center;
  box-shadow: 0 6px 18px black;
  border: 0.1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}