html, body{background-color: hsl(204, 48%, 53%);}

.site-header{
    background-color: #97cbff;
  position: sticky;
  border-radius: 5px;
  padding: 0px 0px;
  margin: 0px;
  outline: 1px solid white;
  background-clip: padding-box;
   animation: zoom1 1.2s ease-out forwards;
   display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
background-color: #97cbff;    
 position: sticky;
 border-radius: 5px;
animation: zoom1 1.2s ease-out forwards;
 outline: 1px solid white;
 height: 25px; 
}
nav a{
  -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 20px;
  top: 0;
  z-index: 1000;
  font-weight: 500;
  margin: 100px;
  background-clip: padding-box;
  transition:0.3s ease-in;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
  font-weight: 800;
  transition: ease-out;
    -webkit-text-fill-color: rgb(37, 79, 156);

}

@keyframes zoom1 {
     0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
}
}



.site-logo{
    background-color: transparent;
}

.site-logo img{
    width: 75px;
    height: 75px;
    mix-blend-mode: multiply;
}

.search-icon{
  width: 35px;
  height: 35px;
  padding-right: 20px;
  filter: invert(100%);
}

.navigation-menu{
text-decoration: none;
color: #1F2933;
}



#index-title{
  font-size: ;
  color
}