html, body{background-color: hsl(204, 48%, 53%);}

.site-header{
    background-color: #97cbff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0px 0px;
  margin: 0px;
  outline: 1px solid white;

  background-clip: padding-box;
   animation: slideIn 1.2s cubic-bezier(0.675, 0.0885, 0.32, 1.0001) forwards;
}


@keyframes slideIn {
     0% {
    opacity: 0;
    transform: translate(-10%, -10%) scale(0.5); /* Start small and lower */
  }
  70% {
    opacity: 1;
    transform: translate(-5%, -5%) scale(1.1); /* "Pop" slightly larger */
  }
  100% {
    transform: translate(0, 0) scale(1); /* Settle at normal size */
  }
}

.navigation{
    background-color: #97cbff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0px 0px;
  margin: 1px;
  outline: 1px solid white;
  background-clip: padding-box;
}

.site-logo{
    background-color: transparent;
}

.site-logo img{
    width: 75px;
    height: 75px;
    mix-blend-mode: multiply;
}

.navigation-menu{
text-decoration: none;
color: #1F2933;
}