html, body{background-color: hsl(204, 57%, 39%);}

.site-header{
    background-color: #0A2540;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0px 0px;
  margin: 0px;
  
  background-clip: padding-box;
}

.site-logo{
    background-color: transparent;
}

.site-logo img{
    width: 75px;
    height: 75px;
    mix-blend-mode: multiply;
}

.navigation-menu{
text-decoration: none;
color: #1F2933;
}