
.container {
  display: grid;
  grid-template-areas:
  "imges main-content main-content"
  "imges content things-to-do"
  "map content things-to-do";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 3px;
  background-color: #aed9e0;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  padding-bottom: 20px;
  
}
.container div {
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  margin-left: 15px;
  margin-right: 15px;
}

.container div.imges{
  grid-area: imges;
  text-align: center;
  padding: 5px;
}
.container div.main-content {
  grid-area: main-content;
  text-align: left;
  padding-left: 5px;
}

.container div.content {
  grid-area: content;
  text-align: center;
}


.container img{

  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.con-topic{
  margin-bottom: 0%;
}
.con-loc{
  margin-top: 5px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.con--best-months{
  margin-top: 0px;
}

.things-to-do-list{
    columns: 2;
    column-gap: 10px;
    list-style-type: circle;
}

.map{
  background-color: white;
  border: none;
  color: #97cbff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 8px;
  border: 1px #97cbff;

}

.map :hover{
  background-color: #97cbff;
  color: white;
  border: 1px #97cbff;
}