html, body{background-color: hsl(204, 48%, 53%);}

.site-header{
  background-color: #97cbff;
  position: sticky;
  border-radius: 5px;
  padding: 0px 0px;
  margin: 0px;
  outline: 1px solid white;
  background-clip: padding-box;
  animation: zoom1 1.2s ease-out forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
background-color: #97cbff;    
position: sticky;
border-radius: 5px;
animation: zoom1 1.2s ease-out forwards;
outline: 1px solid white;
height: 30px; 
z-index: 800;
}

.nav{
background-color: #97cbff;    
position: sticky;
border-radius: 5px;
animation: zoom1 1.2s ease-out forwards;
outline: 1px solid white;
height: 30px; 
z-index: 800;
}

.navigate-norm{
  -webkit-text-fill-color: rgb(255, 255, 255);
  font-size: 20px;
  top: 0;
  z-index: 1000;
  font-weight: 500;
  margin: 49px;
  background-clip: padding-box;
  transition:0.3s ease-in;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.navigate-norm:hover{
  text-decoration: underline;
  font-weight: 800;
  transition: ease-out;
  -webkit-text-fill-color: rgb(37, 79, 156);

}

@keyframes zoom1 {
     0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
}
}

.site-logo{
    background-color: transparent;
}

.site-logo img{
  width: 75px;
  height: 75px;
  mix-blend-mode: multiply;
}

.site-name{
  color: white; 
}

.search-icon{
  width: 35px;
  height: 35px;
  padding-right: 20px;
  filter: invert(100%);
}


/*header*/
.index-img {
position: relative;
}

.index-img img {
  width:100%;
  height: auto;
  display: block;
}

.main-title {
  position: absolute;
  width: 600px;
  height: auto;

  top: 65%;
  left: 50%;
  transform: translate(-45%, -45%) scale(1); /* THIS centers it perfectly */

  padding: 40px 60px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(2px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);

  text-align: center;
  z-index: 2;
  justify-content: center;
  animation: move-up 3s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical center */
  align-items: center; 
}

#index-title {
  font-size: 75px;
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#index-catchline {
  font-size: 35px;
  color: white;
  margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes move-up{
  from{  
  opacity: 1;
  transform: translate(-50%, -40%) scale(0.9);
  }
  to{ 
  opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
}